In [40]:
# Import Pandas, numpy and matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import CSV file 
pd.read_csv('D:CSV/Crypto/btc.csv')

,time,id,amount,open,high,low,close,count,vol
0,2020-01-01 00:00:00,1577808000,102.743804,7194.70,7200.00,7186.19,7200.00,497,7.387063e+05
1,2020-01-01 00:01:00,1577808060,70.711661,7200.00,7219.58,7199.99,7218.20,448,5.096932e+05
2,2020-01-01 00:02:00,1577808120,17.445960,7218.21,7218.44,7213.09,7216.22,248,1.258898e+05
3,2020-01-01 00:03:00,1577808180,13.034606,7216.21,7221.91,7215.48,7218.37,300,9.409110e+04
4,2020-01-01 00:04:00,1577808240,14.004800,7218.37,7220.13,7210.01,7213.05,279,1.010425e+05
...,...,...,...,...,...,...,...,...,...
720595,2021-05-15 09:55:00,1621043700,15.321904,50419.06,50499.00,50404.50,50440.00,997,7.731420e+05
720596,2021-05-15 09:56:00,1621043760,7.900189,50440.01,50508.30,50428.17,50508.30,655,3.987687e+05
720597,2021-05-15 09:57:00,1621043820,8.313058,50508.31,50520.79,50465.69,50520.79,966,4.197622e+05
720598,2021-05-15 09:58:00,1621043880,22.653719,50520.79,50599.83,50509.13,50598.68,1734,1.145338e+06
720599,2021-05-15 09:59:00,1621043940,33.701528,50598.31,50664.39,50544.81,50614.22,2235,1.705916e+06

In [3]:
# Set up file name
bitcoin = pd.read_csv('D:CSV/Crypto/btc.csv')

In [4]:
# Use head command
bitcoin.head(50)

,time,id,amount,open,high,low,close,count,vol
0,2020-01-01 00:00:00,1577808000,102.743804,7194.70,7200.00,7186.19,7200.00,497,738706.346176
1,2020-01-01 00:01:00,1577808060,70.711661,7200.00,7219.58,7199.99,7218.20,448,509693.211491
2,2020-01-01 00:02:00,1577808120,17.445960,7218.21,7218.44,7213.09,7216.22,248,125889.775364
3,2020-01-01 00:03:00,1577808180,13.034606,7216.21,7221.91,7215.48,7218.37,300,94091.100831
4,2020-01-01 00:04:00,1577808240,14.004800,7218.37,7220.13,7210.01,7213.05,279,101042.531802
5,2020-01-01 00:05:00,1577808300,12.572894,7213.48,7221.76,7212.62,7218.38,189,90727.992163
6,2020-01-01 00:06:00,1577808360,26.494623,7218.69,7218.69,7213.55,7216.32,120,191226.427288
7,2020-01-01 00:07:00,1577808420,13.665837,7216.36,7216.68,7210.65,7213.05,122,98577.373446
8,2020-01-01 00:08:00,1577808480,5.379749,7213.06,7214.02,7208.00,7208.00,100,38789.254338
9,2020-01-01 00:09:00,1577808540,17.430987,7206.97,7218.04,7206.90,7216.42,134,125709.231943
10,2020-01-01 00:10:00,1577808600,11.686778,7216.85,7217.05,7207.94,7207.94,149,84274.642929
11,2020-01-01 00:11:00,1577808660,20.261844,7207.94,7210.68,7204.95,7210.68,142,146052.573052
12,2020-01-01 00:12:00,1577808720,21.622524,7210.91,7212.03,7206.01,7211.95,101,155888.890639
13,2020-01-01 00:13:00,1577808780,12.972476,7211.90,7214.39,7207.43,7207.58,99,93546.163103
14,2020-01-01 00:14:00,1577808840,8.697693,7207.35,7210.23,7206.00,7206.03,95,62686.210837
15,2020-01-01 00:15:00,1577808900,11.673863,7206.02,7212.46,7202.49,7211.40,189,84117.683205
16,2020-01-01 00:16:00,1577808960,3.448891,7211.40,7211.40,7205.00,7206.19,141,24858.767357
17,2020-01-01 00:17:00,1577809020,2.460514,7206.19,7207.79,7203.83,7204.78,76,17729.735089
18,2020-01-01 00:18:00,1577809080,0.890357,7204.78,7210.00,7204.78,7206.40,106,6417.150197
19,2020-01-01 00:19:00,1577809140,110.108076,7206.89,7224.12,7205.00,7223.27,467,794320.521208
20,2020-01-01 00:20:00,1577809200,8.888221,7223.26,7223.26,7218.46,7219.66,275,64173.557936
21,2020-01-01 00:21:00,1577809260,6.325735,7219.84,7223.00,7217.58,7223.00,177,45674.124908
22,2020-01-01 00:22:00,1577809320,1.988565,7222.98,7222.98,7216.49,7217.09,85,14355.549616
23,2020-01-01 00:23:00,1577809380,2.106092,7217.10,7222.78,7217.10,7221.04,105,15206.164947
24,2020-01-01 00:24:00,1577809440,2.786905,7221.05,7221.05,7217.80,7217.81,121,20121.986888
25,2020-01-01 00:25:00,1577809500,31.337483,7218.22,7218.40,7217.09,7217.84,73,226191.172048
26,2020-01-01 00:26:00,1577809560,21.654992,7217.93,7221.93,7217.74,7220.00,116,156313.254800
27,2020-01-01 00:27:00,1577809620,6.227040,7219.99,7219.99,7215.48,7215.48,86,44945.702839
28,2020-01-01 00:28:00,1577809680,19.491650,7216.43,7221.32,7216.36,7221.32,61,140662.048511
29,2020-01-01 00:29:00,1577809740,5.670964,7220.44,7222.90,7218.18,7222.90,91,40944.090834
30,2020-01-01 00:30:00,1577809800,19.967501,7222.91,7225.71,7221.75,7224.58,128,144235.501834
31,2020-01-01 00:31:00,1577809860,5.419357,7224.59,7226.27,7224.55,7226.01,73,39155.318840
32,2020-01-01 00:32:00,1577809920,8.143048,7225.69,7225.70,7219.53,7219.54,97,58806.379426
33,2020-01-01 00:33:00,1577809980,2.402729,7219.53,7223.00,7218.14,7221.48,54,17345.510632
34,2020-01-01 00:34:00,1577810040,3.294855,7221.51,7226.30,7220.81,7220.82,84,23799.332715
35,2020-01-01 00:35:00,1577810100,1.816699,7220.82,7222.68,7220.37,7221.18,60,13119.517632
36,2020-01-01 00:36:00,1577810160,12.110729,7220.60,7220.98,7211.82,7211.82,147,87399.523613
37,2020-01-01 00:37:00,1577810220,37.160827,7212.80,7219.89,7212.20,7218.88,115,268235.684815
38,2020-01-01 00:38:00,1577810280,30.795771,7218.61,7220.05,7215.17,7216.84,122,222282.664793
39,2020-01-01 00:39:00,1577810340,38.918360,7215.21,7216.75,7213.05,7214.10,71,280828.292586
40,2020-01-01 00:40:00,1577810400,51.218809,7214.34,7220.00,7214.34,7215.52,134,369620.208274
41,2020-01-01 00:41:00,1577810460,47.234545,7215.61,7218.87,7214.68,7218.76,116,340824.996167
42,2020-01-01 00:42:00,1577810520,5.312793,7218.71,7220.18,7218.71,7220.18,102,38353.884720
43,2020-01-01 00:43:00,1577810580,19.498031,7220.17,7220.17,7215.88,7215.90,107,140726.583985
44,2020-01-01 00:44:00,1577810640,63.980075,7217.00,7217.71,7215.88,7216.05,58,461729.008922
45,2020-01-01 00:45:00,1577810700,75.403451,7216.57,7216.59,7212.24,7216.00,110,543993.698977
46,2020-01-01 00:46:00,1577810760,5.520399,7215.97,7217.81,7215.96,7216.79,39,39835.568419
47,2020-01-01 00:47:00,1577810820,3.130021,7217.28,7217.28,7216.22,7217.20,67,22589.982985
48,2020-01-01 00:48:00,1577810880,4.504308,7217.20,7218.29,7217.00,7218.29,64,32508.922181
49,2020-01-01 00:49:00,1577810940,3.520260,7218.98,7220.00,7212.93,7213.81,114,25404.562725

In [5]:
# Use info command
bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720600 entries, 0 to 720599
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   time     720600 non-null  object
 1    id      720600 non-null  int64
 2    amount  720600 non-null  float64
 3    open    720600 non-null  float64
 4    high    720600 non-null  float64
 5    low     720600 non-null  float64
 6    close   720600 non-null  float64
 7    count   720600 non-null  int64
 8    vol     720600 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 46.7+ MB

In [26]:
# Use set_index command
bitcoin2 = bitcoin.set_index('time').head(20)
bitcoin2

,id,amount,open,high,low,close,count,vol
time,,,,,,,,
2020-01-01 00:00:00,1577808000,102.743804,7194.70,7200.00,7186.19,7200.00,497,738706.346176
2020-01-01 00:01:00,1577808060,70.711661,7200.00,7219.58,7199.99,7218.20,448,509693.211491
2020-01-01 00:02:00,1577808120,17.445960,7218.21,7218.44,7213.09,7216.22,248,125889.775364
2020-01-01 00:03:00,1577808180,13.034606,7216.21,7221.91,7215.48,7218.37,300,94091.100831
2020-01-01 00:04:00,1577808240,14.004800,7218.37,7220.13,7210.01,7213.05,279,101042.531802
2020-01-01 00:05:00,1577808300,12.572894,7213.48,7221.76,7212.62,7218.38,189,90727.992163
2020-01-01 00:06:00,1577808360,26.494623,7218.69,7218.69,7213.55,7216.32,120,191226.427288
2020-01-01 00:07:00,1577808420,13.665837,7216.36,7216.68,7210.65,7213.05,122,98577.373446
2020-01-01 00:08:00,1577808480,5.379749,7213.06,7214.02,7208.00,7208.00,100,38789.254338
2020-01-01 00:09:00,1577808540,17.430987,7206.97,7218.04,7206.90,7216.42,134,125709.231943
2020-01-01 00:10:00,1577808600,11.686778,7216.85,7217.05,7207.94,7207.94,149,84274.642929
2020-01-01 00:11:00,1577808660,20.261844,7207.94,7210.68,7204.95,7210.68,142,146052.573052
2020-01-01 00:12:00,1577808720,21.622524,7210.91,7212.03,7206.01,7211.95,101,155888.890639
2020-01-01 00:13:00,1577808780,12.972476,7211.90,7214.39,7207.43,7207.58,99,93546.163103
2020-01-01 00:14:00,1577808840,8.697693,7207.35,7210.23,7206.00,7206.03,95,62686.210837
2020-01-01 00:15:00,1577808900,11.673863,7206.02,7212.46,7202.49,7211.40,189,84117.683205
2020-01-01 00:16:00,1577808960,3.448891,7211.40,7211.40,7205.00,7206.19,141,24858.767357
2020-01-01 00:17:00,1577809020,2.460514,7206.19,7207.79,7203.83,7204.78,76,17729.735089
2020-01-01 00:18:00,1577809080,0.890357,7204.78,7210.00,7204.78,7206.40,106,6417.150197
2020-01-01 00:19:00,1577809140,110.108076,7206.89,7224.12,7205.00,7223.27,467,794320.521208

In [7]:
# Use function loc and iloc
bitcoin.iloc[-5000:, [0,6]]

                       time     close
715600  2021-05-11 22:40:00  55699.76
715601  2021-05-11 22:41:00  55686.67
715602  2021-05-11 22:42:00  55723.36
715603  2021-05-11 22:43:00  55756.41
715604  2021-05-11 22:44:00  55797.22
...                     ...       ...
720595  2021-05-15 09:55:00  50440.00
720596  2021-05-15 09:56:00  50508.30
720597  2021-05-15 09:57:00  50520.79
720598  2021-05-15 09:58:00  50598.68
720599  2021-05-15 09:59:00  50614.22

[5000 rows x 2 columns]

In [28]:
# Use Iloc commend to search for last 4 days
bitcoin3 = bitcoin.iloc[-5000:, 0:7]
bitcoin3

,time,id,amount,open,high,low,close
715600,2021-05-11 22:40:00,1620744000,10.978950,55664.66,55699.76,55638.64,55699.76
715601,2021-05-11 22:41:00,1620744060,6.593544,55699.76,55720.00,55674.52,55686.67
715602,2021-05-11 22:42:00,1620744120,11.963361,55690.39,55734.99,55675.49,55723.36
715603,2021-05-11 22:43:00,1620744180,20.290085,55723.35,55798.72,55723.35,55756.41
715604,2021-05-11 22:44:00,1620744240,18.596534,55756.42,55815.01,55743.73,55797.22
...,...,...,...,...,...,...,...
720595,2021-05-15 09:55:00,1621043700,15.321904,50419.06,50499.00,50404.50,50440.00
720596,2021-05-15 09:56:00,1621043760,7.900189,50440.01,50508.30,50428.17,50508.30
720597,2021-05-15 09:57:00,1621043820,8.313058,50508.31,50520.79,50465.69,50520.79
720598,2021-05-15 09:58:00,1621043880,22.653719,50520.79,50599.83,50509.13,50598.68
720599,2021-05-15 09:59:00,1621043940,33.701528,50598.31,50664.39,50544.81,50614.22

In [29]:
# sorting 
bitcoin3.dtypes

time        object
 id          int64
 amount    float64
 open      float64
 high      float64
 low       float64
 close     float64
dtype: object

In [30]:
bitcoin3['time'] = pd.to_datetime(bitcoin3['time'])
bitcoin3

,time,id,amount,open,high,low,close
715600,2021-05-11 22:40:00,1620744000,10.978950,55664.66,55699.76,55638.64,55699.76
715601,2021-05-11 22:41:00,1620744060,6.593544,55699.76,55720.00,55674.52,55686.67
715602,2021-05-11 22:42:00,1620744120,11.963361,55690.39,55734.99,55675.49,55723.36
715603,2021-05-11 22:43:00,1620744180,20.290085,55723.35,55798.72,55723.35,55756.41
715604,2021-05-11 22:44:00,1620744240,18.596534,55756.42,55815.01,55743.73,55797.22
...,...,...,...,...,...,...,...
720595,2021-05-15 09:55:00,1621043700,15.321904,50419.06,50499.00,50404.50,50440.00
720596,2021-05-15 09:56:00,1621043760,7.900189,50440.01,50508.30,50428.17,50508.30
720597,2021-05-15 09:57:00,1621043820,8.313058,50508.31,50520.79,50465.69,50520.79
720598,2021-05-15 09:58:00,1621043880,22.653719,50520.79,50599.83,50509.13,50598.68
720599,2021-05-15 09:59:00,1621043940,33.701528,50598.31,50664.39,50544.81,50614.22

In [31]:
bitcoin3.set_index('time', inplace=True)
bitcoin3

,id,amount,open,high,low,close
time,,,,,,
2021-05-11 22:40:00,1620744000,10.978950,55664.66,55699.76,55638.64,55699.76
2021-05-11 22:41:00,1620744060,6.593544,55699.76,55720.00,55674.52,55686.67
2021-05-11 22:42:00,1620744120,11.963361,55690.39,55734.99,55675.49,55723.36
2021-05-11 22:43:00,1620744180,20.290085,55723.35,55798.72,55723.35,55756.41
2021-05-11 22:44:00,1620744240,18.596534,55756.42,55815.01,55743.73,55797.22
...,...,...,...,...,...,...
2021-05-15 09:55:00,1621043700,15.321904,50419.06,50499.00,50404.50,50440.00
2021-05-15 09:56:00,1621043760,7.900189,50440.01,50508.30,50428.17,50508.30
2021-05-15 09:57:00,1621043820,8.313058,50508.31,50520.79,50465.69,50520.79
2021-05-15 09:58:00,1621043880,22.653719,50520.79,50599.83,50509.13,50598.68
2021-05-15 09:59:00,1621043940,33.701528,50598.31,50664.39,50544.81,50614.22

In [45]:
# grouping per hour
bitcoin3 = bitcoin3.resample('H').mean()
bitcoin3

,id,amount,open,high,low,close
time,,,,,,
2021-05-11 22:00:00,1620744570,15.773427,55728.747500,55771.785500,55689.699000,55728.354500
2021-05-11 23:00:00,1620746970,22.617755,55915.889000,55963.939333,55880.507833,55922.110500
2021-05-12 00:00:00,1620750570,33.877429,56080.884333,56131.402000,56034.197167,56079.878833
2021-05-12 01:00:00,1620754170,18.442997,56245.332000,56283.779000,56214.498000,56252.087833
2021-05-12 02:00:00,1620757770,12.945910,56441.038833,56477.395167,56410.312167,56440.734000
...,...,...,...,...,...,...
2021-05-15 05:00:00,1621027770,13.365997,49585.314833,49628.129667,49552.454833,49596.837167
2021-05-15 06:00:00,1621031370,15.392485,49826.664833,49862.531833,49792.982333,49828.408667
2021-05-15 07:00:00,1621034970,11.693096,49963.387833,49993.826167,49929.877333,49962.754500
2021-05-15 08:00:00,1621038570,24.062494,49717.142167,49770.609500,49663.615500,49710.816000
2021-05-15 09:00:00,1621042170,19.941359,50161.261500,50219.756667,50123.289000,50180.932000

In [46]:
bitcoin3['close'].plot()

KeyError: 'close'